@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MapoDPPA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoDPPA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
:root {

    /* Colors: */
    --gray: #D5DBE9;
    --blue: #2F69EE;
    --deep_gray: #858DA4;
    --dark_gray: #2B2E37;
    --light_gray: #F2F5FC;
    }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--dark_gray);
}