html, body {
    font-family: 'NanumSquareNeo-Variable';
    background: var(--light_gray);
    font-size: 0.9rem;
    height: 100%;
}
#left_contain {
    /* position: relative; */
    background: white;
    width: 18.75%;
    height: 100%;
    /* padding: 100px 60px 60px 60px; */
    float: left;
    padding-bottom: 60px;
    box-shadow: 10px 0 20px #51596e10;
}
/* 프로필 */
#profile_box {
    display: flex;
    align-items: center;
    margin: 80px 16.666% 56px 16.666%;
}
#profile_box #profile_img {
    width: 50px;
    display: inline-block;
}
#profile_box #profile_img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 5px 5px 20px #385BAB50;
}
#profile_box #profile_greeting {
    font-size: 1rem;
    color: var(--dark_gray);
    display: inline-block;
    margin-left: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

/* 퀵링크 */
#quick_link {
    width: 66.666%;
    margin: 0 16.666% 0 16.666%;
}
#quick_title {
    width: 100%;
    height: 50px;
    background: white;
    box-shadow: 3px 3px 10px #385BAB33;
    border-radius: 25px;
    line-height: 50px;
    font-weight: 800;
    position:sticky;
    text-align: center;
    font-size: 1.2rem;
}
#quick_list_box {
    /* top: 231px;
    left: 60px; */
    margin-top: -25px;
    background: var(--light_gray);
    width: 100%;
    height: 100%;
    padding: 60px 0 20px 8.333%;

}
#quick_list_box ul li span {
    color: var(--blue);
}

#quick_list_box ul li {
    padding-bottom: 20px;
    font-size: 1rem;
}

#quick_list_box ul li a:hover {
    color: var(--blue);
    font-weight: 600;
}

/* 가운데 컨테이너 */
#center_contain {
    width: 55.208333%;
    height: 100%;
    float: left;
    padding-top: 80px;
    padding-left: 3.125%;
    padding-right: 3.125%;
}

/* Greeting */
#greeting {
    font-family: 'MapoDPPA';
    font-size: 3rem;
    color: var(--dark_gray);
}
#greeting span {
    color: var(--blue);
    text-transform: uppercase;
}

/* 접속시간 */
#access_time {
    margin: 20px 0 30px 0;
    font-size: 1rem;
}

/* To Do */
#todo_box #todo-form input:first-child {
    width: 92%;
    height: 50px;
    padding-left: 20px;
    color: var(--deep_gray);
    border-radius: 25px;
    border: none;
    outline: none;
    float: left;
    margin-bottom: 30px;
    box-shadow: 10px 10px 20px #51596e10;
}
#todo_box #todo-form input:first-child:focus {
    box-shadow: 0 0 20px #2f68ee70;
}
#todo_box #todo-form input:last-child {
    float: right;
    border: none;
    width: 50px;
    height: 50px;
    background: var(--blue);
    color: white;
    border-radius: 25px;
    font-size: 2rem;
    font-weight: 100;
    box-shadow: 10px 10px 20px #51596e10;
    /* margin-left: 1.0638%; */
    cursor:pointer;
    transition: all 0.3s ease-in;
}
#todo_box #todo-form input:last-child:hover {
    transform: rotate(90deg);
    box-shadow: 0 0 20px #2f68ee70;
}
#todo_box_all {
    clear: both;
    display: flex;
    flex-direction: row;
}
.todo_list_box {
    width: 48%;
    height: 350px;
    background: white;
    padding: 41px 30px 0 30px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px #51596e10;
}
.todo_list_box:first-child {
    margin-right: 4%;
}
.box_title {
    color: var(--dark_gray);
    font-size: 1.5rem;
    font-weight: 800;
    width: 100%;
    border-bottom: solid 1px var(--deep_gray);
    padding-bottom: 10px;
    margin-bottom: 20px;
}
#todo-list li, #complete_list li {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px var(--gray);
}
#todo-list li button, #complete_list li button {
    position: absolute;
    top: 10px;
    right: 0px;
    border: none;
    background: white;
    background-image: url(../img/icon_V.png);
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
#todo-list li button:hover {
    transform: rotate(360deg);
}
#complete_list li button:hover {
    transform: rotate(180deg);
}
#complete_list li button {
    background-image: url(../img/icon_X.png);
}
#todo-list li div, #complete_list li div {
    padding-top: 5px;
    font-size: 0.7rem;
    color: var(--deep_gray);
}

/*명언*/
#quote_box {
    width: 100%;
    height: 140px;
    background: white;
    padding: 41px 30px 0 30px;
    border-radius: 20px;
    margin-top: 30px;
    box-shadow: 10px 10px 20px #51596e10;
}
#quote_box #quote span:last-child {
    float: right;
    color: var(--deep_gray);
    font-style: italic;
    padding-top: 10px;
}

/*오른쪽 컨테이너*/
#right_contain {
    width: 26.041667%;
    height: 100%;
    background: white;
    float: right;
    padding: 80px 0 60px 0;
    box-shadow: -10px 0 20px #51596e10;
}

/*시간*/
#clock_box {
    width: 76%;
    height: 170px;
    background: white;
    padding: 41px 30px 0 30px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px #385BAB33;
    margin: 0 12% 0 12%;
}
#clock {
    font-size: 4rem;
    font-family: 'MapoDPPA';
    overflow: hidden;
}
#clock span {
    color: var(--blue);
}
#date span {
    color: var(--deep_gray);
}

/*날씨*/
#weather_box {
    width: 76%;
    height: 200px;
    background: white;
    padding: 41px 30px 0 30px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px #385BAB33;
    margin: 30px 12% 0 12%;
    overflow: hidden;
}
#weather {
    font-size: 2.5rem;
    font-family: 'MapoDPPA';
}
#weather span {
    font-size: 4rem;
}
#weather #snow {
    background-image: url(../img/icon_snow.png);
    background-size: 75px;
    width: 75px;
    height: 75px;
    float: right;
}
#weather #clear {
    background-image: url(../img/icon_clear.png);
    background-size: 75px;
    width: 75px;
    height: 75px;
    float: right;
}
#weather #clouds {
    background-image: url(../img/icon_clouds.png);
    background-size: 75px;
    width: 75px;
    height: 75px;
    float: right;
}
#weather #mist {
    background-image: url(../img/icon_mist.png);
    background-size: 75px;
    width: 75px;
    height: 75px;
    float: right;
}
#weather #rain {
    background-image: url(../img/icon_rain.png);
    background-size: 75px;
    width: 75px;
    height: 75px;
    float: right;
}
#weather #smoke {
    background-image: url(../img/icon_smoke.png);
    background-size: 75px;
    width: 75px;
    height: 75px;
    float: right;
}

/*유튜브*/
#youtube_box {
    width: 76%;
    height: 300px;
    background: white;
    padding: 41px 30px 0 30px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px #385BAB33;
    margin: 30px 12% 0 12%;
    overflow: hidden;  
}
#youtube_con{
    text-align: center;
}
#youtube_box iframe {
    width: 100%;
    height: 170px;
}
